{% extends 'base.html' %}

{% block content %}
<div class="row" style="background-color: #e2d83b;padding:  1em;border: 5px solid black;">
    <div class="col-12 text-center">
        <p><strong>Important security note</strong></p>
        <p>
            Some customers are having problems with their accounts.
        </p>
        <p>It seems that a malware is leaking confidential data
            of some users. This is not a problem of the bank but of the lack of antivirus software. You don't have to
            worry. You are safe with us.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Be one of our happy customers</p>
        <p>Keep your money safe with us. Safe and happy!</p>
        <a href="{% url 'login' %}" class="btn btn-success">Sign In</a>
        <a href="{% url 'register' %}" class="btn btn-primary">Sign Up</a>
    </div>
</div>

{% endblock %}