{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login" class="btn btn-success">
    <a href="{% url 'register' %}">Sign Up</a>
</form>
{% endblock %}